version: "3"
services:
  owlbot:
    container_name: owlbot
    # restart: unless-stopped
    env_file: .env
    image: cntoarma/owlbot:dev
    secrets:
      - discord_token

secrets:
  discord_token:
    file: ./discord-token.txt